*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

#area1{
    background-color: #303030;
    padding: 206px 62px;
    color: white;
}

#titulo1{
    position: absolute;
    left: 62px;
    top: 206px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

#paragrafo1{
    position: absolute;
    left: 62px;
    top: 298px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

#area2{
   
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    font-weight: 400;
    font-size: 20px;
    line-height:28px;
    padding: 96px 171px;
    padding-bottom: 45px;
}

span.numeroArea2{
    font-weight: 600;
    font-size: 40px;
}

#area3{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    
}

#textoArea3{
    margin: 304px 77px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    
}

#tituloArea3{
    font-weight: 500;
    font-size: 38px;
    line-height: 20px;
}

#modeloCasa{
    margin: 62px 64px 92px;
    border-radius: 30px;
}

#area4{
    text-align: center;
    background-color: #303030;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 109px;
}

#textoArea4{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 50px;
}

input{
    display: grid;
    
    width: 508px;
    height: 72px;
 
    border-radius: 10px;
    
    margin: 48px 490px;
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    
}

button{
    align-self: center;
    background-color: #C07212;
    height: 53px;
    width: 335px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}